/* Container styling */
.client-change-password-container {
    display: flex;
}

/* Content styling */
.client-change-password-content {
    flex-grow: 1; /* Allows the content area to take up remaining space */
    padding: 40px;
    padding-left: 300px; /* Same as Sidebar width to avoid overlap */
    background-color: #f5f7fa;
}

.client-change-password-content h2 {
    color: #34495e;
    margin-bottom: 30px;
}

.client-form-group {
    margin-bottom: 20px;
}

.client-form-group label {
    display: block;
    color: #34495e;
    margin-bottom: 5px;
    font-weight: bold;
}

.client-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.client-save-button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.client-save-button:hover {
    background-color: #1e6d8e;
}

/* Background layout */
.change-password-background {
    background-color: #e0f7fa; /* Light blue color */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Centered box */
  .box-layout {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as necessary */
    max-width: 90%; /* Responsive */
  }
  
  /* Styling the form inside the box */
  .box-layout .form-group {
    margin-bottom: 20px;
  }
  
  .box-layout h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }


.text-message {
    font-size: 1.2rem; /* Adjust the size as needed */
    color: red; /* Color for error messages */
    margin-top: 1rem; /* Space above the message */
  }
  
  /* Optional: You can customize input labels and titles as well */
  .profile-title {
    font-size: 1.8rem; /* Example for title size */
  }
  
  .form-label {
    font-size: 1.1rem; /* Example for label size */
  }

  
  
  